h1 {
    text-align: center;
}

.p5Canvas {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    border: 3px solid white;
    padding: 0px;
}

body {
    background-color: black;
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
}